<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huseyinobudan.myapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="HTML Eğitim Seti"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Giris" />
        <activity android:name=".Temel_Etiket" />
        <activity android:name=".Metin" />
        <activity android:name=".Tablo" />
        <activity android:name=".Liste" />
        <activity android:name=".Form1" />
        <activity android:name=".Form2" />
        <activity android:name=".Link" />
        <activity android:name=".Ses" />
        <activity android:name=".Video" />
        <activity android:name=".Info"></activity>

    </application>

</manifest>